/SharpBag/bin/Debug/
/SharpBag/bin/Release/reports/
/SharpBag/obj/
/SharpBag.Tests/bin/
/SharpBag.Tests/obj/
/SharpBag/SharpBagDocs.xml
/SharpBag.Tests/test-results/
/TestResults/
TestResult.xml
*.vsmdi
*.userprefs
*.VisualState.xml
*.vs10x*
*.dat
*.pdb
*.pidb
*.docstates
*.suo
*.user
*.old
